page-login {
     .contenedor{
        background: url(https://img.freepik.com/vector-gratis/suministros-herramientas-construccion-constructor-construccion-viviendas_38901-60.jpg?size=338&ext=jpg);

     }
     text-align: center;
    
    
     button.login{
        height: 50px;
        max-width: 320px;
        width: 100%;
        margin: auto;
        font-size: 1.4em;
        background-color: #2b91b3;
        color: white;
        border-radius: 20px;
        margin-bottom: 20px;
    }

}

