<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>ToolsKit</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-item-group>
        <ion-item-divider color="light">Principal</ion-item-divider>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          {{p.title}}
        </button>
      </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="light">Alquileres</ion-item-divider>
      <button menuClose ion-item *ngFor="let p of alquileresPage" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-item-group>
    <ion-item-group>
        <ion-item-divider color="light">Herramientas</ion-item-divider>
        <button menuClose ion-item *ngFor="let p of herramientasPage" (click)="openPage(p)">
          {{p.title}}
        </button>
      </ion-item-group>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
