page-login {
    .contenedor{
        background: url(https://img.freepik.com/vector-gratis/suministros-herramientas-construccion-constructor-construccion-viviendas_38901-60.jpg?size=338&ext=jpg);

    }
    text-align: center;
    
    button.login {
        height: 50px;
        max-width: 320px;
        width: 100%;
        margin: auto;
        font-size: 1.4em;
        background-color: #2b91b3;
        color: white;
        border-radius: 20px;
    }



}

.img-tel {
    height: 80px;
    width: 100%;
    display: inline-block;
    background-image: url(../../assets/imgs/call.png);
    background-repeat: no-repeat;
    background-size: contain;
    /*  */
    background-position: center;
}

a {
    height: 80px;
    width: 40%;
    display: inline-block;
    margin-top: 40px;
}

.comentarios {
    padding: 5px;
    border: 1px solid gray;
}

select,input {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    padding-left: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid gray;
}

form {
    margin-top: 15%;
}

