<ion-header>
  <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content  class="contenedor">
  <div class="div">
  <h2>{{herramienta.nombre}}</h2>
  <ion-row >
    <ion-slides pager class="slide-container" >
      <ion-slide *ngFor="let i of herramienta.imagenes" >
        <img [src]="i" class="slide-image"/>
      </ion-slide>
    </ion-slides>
  </ion-row>
  <h4>Precio por dia: {{herramienta.precio}}</h4>
  <p>{{herramienta.descripcion}}</p>

  <ionic3-star-rating 
    activeIcon = "ios-star"
    defaultIcon = "ios-star-outline"
    activeColor = "#488aff" 
    defaultColor = "#f4f4f4"
    readonly="true"
    halfStar="true"
    rating="{{herramienta.promedio}}"
    fontSize = "28px">
  </ionic3-star-rating><span>{{opiniones}} opiniones</span>
  <br>

  <ion-card *ngFor="let r of herramienta.reputacion">
      <ion-card-content>
        <p>{{r.comentario}}</p>
        <ionic3-star-rating 
          activeIcon = "ios-star"
          defaultIcon = "ios-star-outline"
          activeColor = "#488aff" 
          defaultColor = "#f4f4f4"
          readonly="true"
          halfStar="true"
          rating="{{r.puntaje}}"
          fontSize = "18px">
        </ionic3-star-rating>
      </ion-card-content>
    </ion-card>
  
   <button ion-button  (click)="abrirModal()" class="btn-alquilar">Alquilar</button>
    <a href="tel:+1-1800-555-5555" class="button button-positive"><button ion-button  class="btn-alquilar">Llamar a proveedor</button></a>
   </div>
  
  
   </ion-content>
  

