page-alta-service {
    .contenedor{
        margin: 0;
        padding: 0;
        background: url(https://img.freepik.com/vector-gratis/suministros-herramientas-construccion-constructor-construccion-viviendas_38901-60.jpg?size=338&ext=jpg);
        
    }
       .formulario{
           
           
           margin: 10px;
           padding: 10px;
           background-color: #ee9d77;
           border:1 px solid grey;
           align-content: center;
        }
        label{
            font-size: 18px;
            font-weight: bold;
            display: block;
            width: 100%;
        }
        input , textarea {
            font-size: 12px;
            margin-bottom: 20px;
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            
        }
        textarea{
            resize: vertical;
            max-height: 100px;
            min-height: 100px;
        }

        input:focus , textarea:focus{
            border: 1px solid rgb(228, 204, 182);
        }
        button{
            margin-bottom:10px ;
            background: #1668C4;
            color: #fff;
            border: none;
            padding: 10px;
            margin: 10px;

        }
        button:hover{
            background:rgb(8, 181, 224);
            
        }
        select{
            font-size: 14px;
            margin-bottom: 20px;
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;
           
        }
        h2{
            font-size: 14px;
            text-align: center;
            font-weight: bold;
        }


}
