<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Resultados</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="box-search">
    <input type="text" [(ngModel)]="pedidoHerramienta" >
    <div class="search" (click)="buscarHerramientas()"></div>
  </div>

  <div class="filtros">
      <ion-row >
          <ion-col col-6>
           <div class="btn-ordenar linea" (click)="mostrarFiltro('ordenar')"> <ion-icon ios="ios-repeat" md="md-repeat"></ion-icon>Ordenar</div> 
          </ion-col>
          <ion-col col-6 >
           <div class="btn-ordenar" (click)="mostrarFiltro('filtrar' )">  <ion-icon ios="ios-options" md="md-options"></ion-icon> Filtrar</div> 
          </ion-col>
    </ion-row>
  </div>

  <ion-grid class="informacion-busqueda">
      <ion-row *ngFor="let item of herramientas | myfilter : myFilterPipe2" (click)="gotoHerramienta(item)" [hidden]='!item.disponible' class="contenedor-herramientas">
            <ion-col col-4>
                <div class="img" [ngStyle]="{'background-image': 'url(' + item.imagenes[0] + ')'}"> </div>
              </ion-col>
              <ion-col col-8 class="informacion">
                <p class="nombre">{{item.nombre}}</p>
                <p *ngIf="item.domicilio" >Ubicación: {{item.domicilio.zona}}</p>
                <p><span>{{item.precio}}</span> por dia</p>
              </ion-col>
      </ion-row>
    </ion-grid>

    <div class="ordenar filtro" [hidden]="ord" >
      <h3>Ordenar por</h3>
      <ul>
        <li (click)="hidePopUp()">Precio</li>
        <li (click)="hidePopUp()">Mejor puntaje</li>
      </ul>
    </div>
    <div class="filtrar filtro" [hidden]="fil">
        <h3>Ordenar por zona</h3>

      <ul>
        <li (click)="hidePopUp()" >
          Buscar
        </li>
<!--[(ngModel)]="myFilterPipe2"-->
        <select name="" id=""  [(ngModel)]="myFilterPipe2">
          <option  *ngFor="let ubicacion of ubicacionHerramienta" [value]='ubicacion' >{{ubicacion}}</option>
        </select>

      </ul>
    </div>




</ion-content>
